#title{
    text-align: center;
    color: rgb(100, 6, 188);
    font-size: 25px;
    font-weight: bold;
    background-color: lightgray;
}

p{
    font-size: 20px;
    color: rgb(147, 0, 147);
    text-align: justify;
    font-weight: 500;
    background-color: white;
}

.info-box{
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: lightyellow;
    font-size: 18px;
    text-align: center;
}
